::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: larger;
    font-weight: bold;
}

header {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

}

section {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;

    height: 100%;
}

aside {
    display: flex;
    flex-flow: column nowrap;
    height: 90vh;
}

aside p:first-of-type {}

#detailsPanel {
    display: flex;
    flex-flow: column nowrap;
}

#detailsPanel input {
    margin: .3rem;
    padding-left: 1rem;
    max-width: 10vw;
}

#mapGrid {
    margin: 0;
    padding: 0;

    /* exact size set in js */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

    height: 90vh;
    aspect-ratio: 1/1;
}

.mapSquare {
    border: 1px solid black;
    cursor: pointer;
}

.mapSquare:hover {
    scale: 1.3;
}